.chart {
  cursor: zoom-in;
  position: relative;
}

.chart__rotate-phone {
  position: absolute;
  bottom: 4rem;
  left: calc(50% - 1.5rem);
  width: 3rem;
  display: none;
}

.chart__btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  color: $color-accent;
  box-shadow: none;
  padding: 0 1rem;
  line-height: 1.5rem;
  height: 1.5rem;

  @media(min-width: 600px) {
    top: 1.5rem;
    right: 1.5rem;
  }

  &:hover {
    color: $color-text;
  }
}

.chart--expanded {
  z-index: 2;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: zoom-out;

  canvas {
    transition: all .5s ease;
  }

  @media(max-width: 600px) {
    .chart__rotate-phone {
      display: block;
    }
  }
}
